body {
    background: rgb(240, 237, 242);
    background: linear-gradient(90deg, rgba(240, 237, 242, 1) 0%, rgba(240, 192, 68, 0.9781162464985994) 100%);
}

.header h2 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;

}

.image-personal img {
    width: 90px;
    /* height: 90px; */
    border-radius: 5px;
    border: 1px solid #ddd;
}
.image-personal{
    position:absolute;
    bottom: -10%;
    left: 43%;
}

.card-quote {
    width: 50%;
    height: 300px;
    background-color: #fff;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 25px 31px rgba(0, 0, 0, 0.5);
    position: relative;
}

.card-quote .text-area h4 {
    /* margin-top: 10px; */
    line-height: 1.5;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.card-quote .writer-personal h3 {
    text-align: center;
    color: #ff7400;
    font-family: "Lato", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
    margin-top: 40px;
}

/* .card-quote .button-area{
    padding: 35px 0;
    
} */

/* .card-quote .button-area button{
    position: absolute;
    border-radius: 15px;
    cursor: pointer;
    padding-inline: 15px;
    font-size: 15px;
    font-family: "PT Serif", serif;
    font-weight: 500;
    font-style: italic;
    bottom: 25px;
} */
.text-color{
    color: #ff7400;
}

@media (min-width:200px) and (max-width:770px){
    .card-quote {
        width: 100%;
        height: 300px;
        background-color: #fff;
        padding: 50px 40px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 25px 31px rgba(0, 0, 0, 0.5);
        position: relative;
    }
    .card-quote .writer-personal h3 {
        font-size: 25px;
        text-align: center;
        color: #ff7400;
        font-family: "Lato", sans-serif;
        /* font-weight: 100; */
        font-style: normal;
        /* margin-top: 15px; */
        margin-top: 5px;
    }
    .image-personal{
        position:absolute;
        bottom: -10%;
        left: 41%;
    }
    .card-quote .text-area h4 {
        /* margin-top: 10px; */
        line-height: 1.5;
        font-family: "Merriweather", serif;
        font-weight: 100;
        font-style: normal;
    }
}
